body {
  font-family: 'Source Sans Pro', sans-serif;
}

hr {
  transform: rotate(-45deg) translateY(-20px) translateX(-100px);
  width: 50vh;
}

.btn {
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  background-color: #f0f8ff;
}

.btn:active {
  background-color: #e7eef1;
}
#duration_container {
  display: grid;
  grid-template-rows: [r1] 7vh [r2] 7vh [r3];
  grid-template-columns: [c1] 3vw [c2] 5vw [c3] 3vw [c4] 15vw [c5] 3vw [c6] 5vw [c7] 3vw [c8];
  justify-content: center;
  margin-top: 20vh;
  text-align: center;
  align-items: center;
  font-size: 30px;
}

#ses_title {
  grid-row: r1/r2;
  grid-column: c1/c4;
}

#ses_dec {
  grid-row: r2/r3;
  grid-column: c1/c2;
}

#ses_time {
  grid-row: r2/r3;
  grid-column: c2/c3;
}

#ses_inc {
  grid-row: r2/r3;
  grid-column: c3/c4;
}

#brk_title {
  grid-row: r1/r2;
  grid-column: c5/c8;
}

#brk_dec {
  grid-row: r2/r3;
  grid-column: c5/c6;
}

#brk_time {
  grid-row: r2/r3;
  grid-column: c6/c7;
}

#brk_inc {
  grid-row: r2/r3;
  grid-column: c7/c8;
}

#timer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30vh;
}

#timer {
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 2vw;
  font-size: 100px;
  padding-left: 5vw;
  padding-right: 5vw;
}

#timer_btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#play {
  padding: 2px;
}

#pause {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 2px;
}

#restart {
  padding: 2px;
}
